/** Reset **/

/* Wildcard Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

/* HTML Reset */
html {
	font-size: 16px;
}

/* Heading Reset */
h1,
h2 {
	font-family: var(--font-family-young-serif);
	font-weight: var(--font-weight-regular);
	line-height: 1.875rem;
}

/* Heading One Reset */
h1 {
	color: var(--secondary-color-two);
	font-size: 2rem;
}

/* Heading Two Reset */
h2 {
	color: var(--secondary-color-one);
	font-size: 1.75rem;
}

/* Heading Three Reset */
h3 {
	color: var(--primary-color-one);
	font-family: var(--font-family-outfit);
	font-weight: var(--font-weight-semibold);
	font-size: 1.125rem;
}

/* Paragraph Reset */
p {
	color: var(--secondary-color-three);
	font-family: var(--font-family-outfit);
	font-weight: var(--font-weight-regular);
}

/* List Reset */
ul,
ol {
	list-style-type: none;
	padding-left: 0.5rem;
	font-family: var(--font-family-outfit);
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

/* Ordered List Reset */
ol {
	counter-reset: item;
}

/* List Item Reset */
li {
	color: var(--secondary-color-three);
	padding-left: 1.5rem;
	position: relative;
	font-size: 0.875rem;
}

/* List Item Before Reset */
li:before {
	color: var(--primary-color-one);
	position: absolute;
	left: 0;
	top: 0;
}

/* Unordered List Item Before Reset */
ul li::before {
	font-size: 1rem;
	content: var(--bullet-unicode);
}

/* Ordered List Item Before Reset */
ol li::before {
	counter-increment: item;
	content: counter(item) ". ";
}

/* Separator Reset */
hr {
	border: none;
	height: 1px;
	background-color: var(--secondary-color-four);
}

/** Body **/

/* Body - Mobile */
body {
	background-color: var(--secondary-color-five);
}

/* Body - Desktop */
@media (min-width: 39rem) {
	body {
		padding: 6rem 0;
	}
}

/** Article **/

/* Article - Mobile */
article {
	background-color: var(--white-color);
	margin: 0 auto;
	transition: all 0.2s ease-in-out;
}

/* Article - Desktop */
@media (min-width: 39rem) {
	article {
		max-width: 39rem;
		padding: 2rem;
		border-radius: 1.5rem;
	}
}
