/** Utility Classes **/

/* Horizontal Padding Container */
.horizontal-padding-container {
	padding: 0 2rem;
}

/* Vertical Padding Container */
.vertical-padding-container {
	padding: 2rem 0;
}

/* Padding Container */
.padding-container {
	padding: 2rem;
}

/* Flex Column Container */
.flex-column-container {
	display: flex;
	flex-direction: column;
}

/* Gap Container */
.gap-container {
	gap: 1.5rem;
}
